body {
    background-color: #E2AC8A;
    overflow-x: hidden;
   
   
}

.navbar {
    background-color: #f7f1e5;
}

.nav-link {
    color: black;
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

a:hover {
    color: #E2AC8A;
}

#github {
    color: black;
    margin-top: 10px;
   
}

#linkedin {
    margin-left: 10px;
    color: black;
    margin-top: 10px;
    
    
}

h1 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 300px;

}

.btn,
#front-page-button {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    display: grid;
    justify-content: center;
    margin-bottom: 400px;
    
 
}

#front-page-button {
    width: 20%;
    
}

#front-page-button:hover {
    color: black;
}

.about-title {
    margin-bottom: 50px;
}


img {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}


h2 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
}

p {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
}




#btn-resume {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 270px;
    
  
}

#btn-contact {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 10px;
    margin-bottom: 300px;
    
}

#btn-resume:hover,
#btn-contact:hover {
    color: black;
}

.projects-title,
.contact-title,
.about-title {
    font-size: 40px;
}

#btn-project1 {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 210px;
  
}
#btn-website1 {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 10px;
  
}

#btn-project1:hover,
#btn-website1:hover {
    color: black;
}

.go,
.dp,
.pg {
    margin-top: 150px;
}

#griffin {
    width: 500px;
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
}


#planner,
#password {
    width: 500px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
}

#password {
    margin-bottom: 100px;
}


.contact-icons {
    display: flex;
    
}

#email {
    margin-left: 600px;
    color: black;
  
}


#phone {
    margin-left: 10px;
    color: black;
   
    
}


h6 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
}




