body {
    background-color: #E2AC8A;
    overflow-x: hidden;
   
   
}

.navbar {
    background-color: #f7f1e5;
}

.nav-link {
    color: black;
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

a:hover {
    color: #E2AC8A;
}


h1 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 300px;

}

.btn {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    display: grid;
    justify-content: center;
    
    
 
}

#front-page-button {
    width: 25%;
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;

}



#front-page-button:hover {
    color: black;
}

#about-page-button {
    width: 15%;
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin-right: 10px;
    margin-left: 350px;
    float: left;
}

#about-page-button:hover {
    color: black;
}


.about-title {
    margin-top: 450px;
    margin-bottom: 50px;
}


img {
    width: 100%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}


h2 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
}

p {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
}




#btn-resume {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 150px;
    
  
}

#btn-contact {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 10px;
    margin-bottom: 300px;
    
}

#btn-resume:hover,
#btn-contact:hover {
    color: black;
}

.projects-title,
.contact-title,
.about-title {
    font-size: 40px;
}

#btn-project1 {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 100px;
  
}
#btn-website1 {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 10px;
  
}

#btn-project1:hover,
#btn-website1:hover {
    color: black;
}

.go,
.dp,
.pg {
    margin-top: 150px;
}

#griffin {
    width: 100%;
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
}


#planner,
#password {
    width: 100%;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
}

#password {
    margin-bottom: 100px;
}


#email {
    margin-left: 490px;
    color: black;
  
}


#phone,
#github,
#linkedin {
    margin-left: 10px;
    color: black;  
}


h6 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
}


@media only screen and (min-width: 320px)
and (max-width: 480px) {

h1 {
    margin-left: 50px;
}
   
#front-page-button {
    width: 60%;
}

#about-page-button {
    width: auto;
    margin-left: 20px;
}
   
   
#btn-resume {
    margin-left: 40px;
}
   
#btn-project1 {
    margin-left: 45px;
}

.projects-title {
    margin-top: -100px;
}

#planner-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.go,
.dp,
.pg {
    margin-top: 100px;
}
   
#email {
    margin-left: 110px;
}
   
}


@media screen and (min-width: 768px)
and (max-width: 1024px) {

.job-title {
    margin-top: 50px;
}
    
 #front-page-button {
     width: 40%;
}

#about-page-button {
    margin-left: 150px;
}

.about-title {
    margin-top: 400px;
}

img {
     margin-bottom: 10px;
        
}

#btn-resume {
    margin-left: 110px;

}

.projects-title {
    margin-top: -150px;
   
}

#btn-project1 {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 50px;
  
}

#btn-website1 {
    color: #f7f1e5;
    border-color: #f7f1e5;
    margin: auto;
    float: left;
    margin-left: 10px;
  
}

.dp,
.pg {
    margin-top: 100px;
}

  
#email {
    margin-left: 280px;
}

#phone {
    margin-right: 10px;
}


}


@media screen and (min-width: 1200px)
and (max-width: 1600px) {

#btn-resume {
    margin-left: 200px;
} 

#btn-project1 {
    margin-left: 150px;
}


}